<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Add new skill</h1>
  <form action="/skills" method="post">
    <label>
      New skill:
      <input type="text" name ="skill">
    </label>
    <label>
      Skill Level(1-5): 
      <input type="number" name="level" min="0" max="5">
    </label>
    <button type="submit">Save new skill</button>
  </form>
</body>
</html>